* text=auto !eol
/build.xml -text
src/asn1/ASN1Any.java -text
src/asn1/ASN1BitString.java -text
src/asn1/ASN1Boolean.java -text
src/asn1/ASN1Decoder.java -text
src/asn1/ASN1EncodingException.java -text
src/asn1/ASN1Enumerated.java -text
src/asn1/ASN1Exception.java -text
src/asn1/ASN1External.java -text
src/asn1/ASN1GeneralString.java -text
src/asn1/ASN1GeneralizedTime.java -text
src/asn1/ASN1GraphicString.java -text
src/asn1/ASN1IA5String.java -text
src/asn1/ASN1Integer.java -text
src/asn1/ASN1Null.java -text
src/asn1/ASN1NumericString.java -text
src/asn1/ASN1ObjectDescriptor.java -text
src/asn1/ASN1ObjectIdentifier.java -text
src/asn1/ASN1OctetString.java -text
src/asn1/ASN1PrintableString.java -text
src/asn1/ASN1Sequence.java -text
src/asn1/ASN1Set.java -text
src/asn1/ASN1T61String.java -text
src/asn1/ASN1UTCTime.java -text
src/asn1/ASN1VideotexString.java -text
src/asn1/ASN1VisibleString.java -text
src/asn1/BERConstructed.java -text
src/asn1/BEREncoding.java -text
src/asn1/BEREncoding.java.faulty -text
src/asn1/BERPrimitive.java -text
src/z3950/AccessCtrl_des/DES_RN_Object.java -text
src/z3950/AccessCtrl_des/DRNType.java -text
src/z3950/AccessCtrl_krb/KRBObject.java -text
src/z3950/AccessCtrl_krb/KRBRequest.java -text
src/z3950/AccessCtrl_krb/KRBResponse.java -text
src/z3950/AccessCtrl_prompt/Challenge.java -text
src/z3950/AccessCtrl_prompt/Challenge1.java -text
src/z3950/AccessCtrl_prompt/Challenge_promptInfo.java -text
src/z3950/AccessCtrl_prompt/Encryption.java -text
src/z3950/AccessCtrl_prompt/PromptId.java -text
src/z3950/AccessCtrl_prompt/PromptId_enummeratedPrompt.java -text
src/z3950/AccessCtrl_prompt/PromptObject.java -text
src/z3950/AccessCtrl_prompt/Response.java -text
src/z3950/AccessCtrl_prompt/Response1.java -text
src/z3950/AccessCtrl_prompt/Response_promptResponse.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/BoundingRectangleSelection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/CircleSelection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/Coordinate.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/FormattedSceneSelectionOptions.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/HorizontalSelection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/MapProjection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/Point.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/PolygonSelection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/RectangleSceneSelection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/TemporalSelection.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/Time.java -text
src/z3950/CIP2_4FormattedSceneSelectionOptions/VerticalSelection.java -text
src/z3950/CIP2_4SpecificInfo/AdditionalSemanticAttributes.java -text
src/z3950/CIP2_4SpecificInfo/CIPSpecificInfo.java -text
src/z3950/CIP2_4SpecificInfo/CIPTerm.java -text
src/z3950/CIP2_4SpecificInfo/ChildrenReports.java -text
src/z3950/CIP2_4SpecificInfo/ChildrenResourceReport.java -text
src/z3950/CIP2_4SpecificInfo/Circle.java -text
src/z3950/CIP2_4SpecificInfo/Coordinate.java -text
src/z3950/CIP2_4SpecificInfo/Point.java -text
src/z3950/CIP2_4SpecificInfo/SearchControl.java -text
src/z3950/CIP2_4SpecificInfo/WRSGRSSpatialCoverage.java -text
src/z3950/CIPSpecificInfo/AdditionalSemanticAttributes.java -text
src/z3950/CIPSpecificInfo/CIPSpecificInfo.java -text
src/z3950/CIPSpecificInfo/CIPSpecificInfo.java.orig -text
src/z3950/CIPSpecificInfo/CIPTerm.java -text
src/z3950/CIPSpecificInfo/Circle.java -text
src/z3950/CIPSpecificInfo/Coordinate.java -text
src/z3950/CIPSpecificInfo/Point.java -text
src/z3950/CIPSpecificInfo/SearchControl.java -text
src/z3950/CIPSpecificInfo/TemporalPeriod.java -text
src/z3950/CIPSpecificInfo/WRSGRSSpatialCoverage.java -text
src/z3950/Cip2_4FormattedProductProcessingOptions/FormattedProductProcessingOptions.java -text
src/z3950/Cip2_4FormattedProductProcessingOptions/ProcessingOptionSelection.java -text
src/z3950/Cip2_4FormattedProductProcessingOptions/ProcessingOptionValue.java -text
src/z3950/DiagFormat/DiagFormat.java -text
src/z3950/DiagFormat/DiagFormat_accessCtrl.java -text
src/z3950/DiagFormat/DiagFormat_attCombo.java -text
src/z3950/DiagFormat/DiagFormat_attribute.java -text
src/z3950/DiagFormat/DiagFormat_badSpec.java -text
src/z3950/DiagFormat/DiagFormat_dbUnavail.java -text
src/z3950/DiagFormat/DiagFormat_dbUnavail_why.java -text
src/z3950/DiagFormat/DiagFormat_extServices.java -text
src/z3950/DiagFormat/DiagFormat_proximity.java -text
src/z3950/DiagFormat/DiagFormat_recordSyntax.java -text
src/z3950/DiagFormat/DiagFormat_scan.java -text
src/z3950/DiagFormat/DiagFormat_segmentation.java -text
src/z3950/DiagFormat/DiagFormat_sort.java -text
src/z3950/DiagFormat/DiagFormat_term.java -text
src/z3950/DiagFormat/DiagFormat_tooMany.java -text
src/z3950/DiagFormat/DiagnosticFormat.java -text
src/z3950/DiagFormat/DiagnosticFormat1.java -text
src/z3950/DiagFormat/DiagnosticFormat_diagnostic.java -text
src/z3950/ESFormat_CIP2_4Order/AdHocPackage.java -text
src/z3950/ESFormat_CIP2_4Order/Billing.java -text
src/z3950/ESFormat_CIP2_4Order/CIPOrder.java -text
src/z3950/ESFormat_CIP2_4Order/CIPOrder_esRequest.java -text
src/z3950/ESFormat_CIP2_4Order/CIPOrder_taskPackage.java -text
src/z3950/ESFormat_CIP2_4Order/CustomerReference.java -text
src/z3950/ESFormat_CIP2_4Order/DeliveryMethod.java -text
src/z3950/ESFormat_CIP2_4Order/DeliveryUnitSpec.java -text
src/z3950/ESFormat_CIP2_4Order/DynamicState.java -text
src/z3950/ESFormat_CIP2_4Order/FTPDelivery.java -text
src/z3950/ESFormat_CIP2_4Order/OrderItem.java -text
src/z3950/ESFormat_CIP2_4Order/OrderSpecification.java -text
src/z3950/ESFormat_CIP2_4Order/OrderStatusInfo.java -text
src/z3950/ESFormat_CIP2_4Order/OrderStatusInfo_orderState.java -text
src/z3950/ESFormat_CIP2_4Order/OriginPartNotToKeep.java -text
src/z3950/ESFormat_CIP2_4Order/OriginPartToKeep.java -text
src/z3950/ESFormat_CIP2_4Order/PackageSpec.java -text
src/z3950/ESFormat_CIP2_4Order/PackageSpec_package.java -text
src/z3950/ESFormat_CIP2_4Order/PaymentMethod.java -text
src/z3950/ESFormat_CIP2_4Order/PostalAddress.java -text
src/z3950/ESFormat_CIP2_4Order/PredefinedPackage.java -text
src/z3950/ESFormat_CIP2_4Order/PriceInfo.java -text
src/z3950/ESFormat_CIP2_4Order/ProcessingOptions.java -text
src/z3950/ESFormat_CIP2_4Order/ProductDeliveryOptions.java -text
src/z3950/ESFormat_CIP2_4Order/SceneSelectionOptions.java -text
src/z3950/ESFormat_CIP2_4Order/StaticState.java -text
src/z3950/ESFormat_CIP2_4Order/StatusUpdateOption.java -text
src/z3950/ESFormat_CIP2_4Order/TargetPart.java -text
src/z3950/ESFormat_CIP2_4Order/UserInformation.java -text
src/z3950/ESFormat_CIPOrder/AdHocPackage.java -text
src/z3950/ESFormat_CIPOrder/Billing.java -text
src/z3950/ESFormat_CIPOrder/CIPOrder.java -text
src/z3950/ESFormat_CIPOrder/CIPOrder_esRequest.java -text
src/z3950/ESFormat_CIPOrder/CIPOrder_taskPackage.java -text
src/z3950/ESFormat_CIPOrder/CreditCardInfo.java -text
src/z3950/ESFormat_CIPOrder/DeliveryMethod.java -text
src/z3950/ESFormat_CIPOrder/DeliveryUnitSpec.java -text
src/z3950/ESFormat_CIPOrder/DynamicState.java -text
src/z3950/ESFormat_CIPOrder/FTPDelivery.java -text
src/z3950/ESFormat_CIPOrder/OrderItem.java -text
src/z3950/ESFormat_CIPOrder/OrderSpecification.java -text
src/z3950/ESFormat_CIPOrder/OrderStatusInfo.java -text
src/z3950/ESFormat_CIPOrder/OrderStatusInfo_orderState.java -text
src/z3950/ESFormat_CIPOrder/OriginPartNotToKeep.java -text
src/z3950/ESFormat_CIPOrder/OriginPartToKeep.java -text
src/z3950/ESFormat_CIPOrder/PackageSpec.java -text
src/z3950/ESFormat_CIPOrder/PackageSpec_package.java -text
src/z3950/ESFormat_CIPOrder/PaymentMethod.java -text
src/z3950/ESFormat_CIPOrder/PostalAddress.java -text
src/z3950/ESFormat_CIPOrder/PredefinedPackage.java -text
src/z3950/ESFormat_CIPOrder/PriceInfo.java -text
src/z3950/ESFormat_CIPOrder/ProductDeliveryOptions.java -text
src/z3950/ESFormat_CIPOrder/StaticState.java -text
src/z3950/ESFormat_CIPOrder/StatusUpdateOption.java -text
src/z3950/ESFormat_CIPOrder/TargetPart.java -text
src/z3950/ESFormat_CIPOrder/UserInformation.java -text
src/z3950/ESFormat_ExportInvocation/ExportInvocation.java -text
src/z3950/ESFormat_ExportInvocation/ExportInvocation_esRequest.java -text
src/z3950/ESFormat_ExportInvocation/ExportInvocation_taskPackage.java -text
src/z3950/ESFormat_ExportInvocation/OriginPartNotToKeep.java -text
src/z3950/ESFormat_ExportInvocation/OriginPartNotToKeep_records.java -text
src/z3950/ESFormat_ExportInvocation/OriginPartNotToKeep_records_ranges.java -text
src/z3950/ESFormat_ExportInvocation/OriginPartToKeep.java -text
src/z3950/ESFormat_ExportInvocation/OriginPartToKeep_exportSpec.java -text
src/z3950/ESFormat_ExportInvocation/TargetPart.java -text
src/z3950/ESFormat_ExportSpec/Destination.java -text
src/z3950/ESFormat_ExportSpec/Destination_other.java -text
src/z3950/ESFormat_ExportSpec/ExportSpecification.java -text
src/z3950/ESFormat_ExportSpec/ExportSpecification_esRequest.java -text
src/z3950/ESFormat_ExportSpec/ExportSpecification_taskPackage.java -text
src/z3950/ESFormat_ExportSpec/OriginPartToKeep.java -text
src/z3950/ESFormat_ItemOrder/CreditCardInfo.java -text
src/z3950/ESFormat_ItemOrder/ItemOrder.java -text
src/z3950/ESFormat_ItemOrder/ItemOrder_esRequest.java -text
src/z3950/ESFormat_ItemOrder/ItemOrder_taskPackage.java -text
src/z3950/ESFormat_ItemOrder/OriginPartNotToKeep.java -text
src/z3950/ESFormat_ItemOrder/OriginPartNotToKeep_resultSetItem.java -text
src/z3950/ESFormat_ItemOrder/OriginPartToKeep.java -text
src/z3950/ESFormat_ItemOrder/OriginPartToKeep_addlBilling.java -text
src/z3950/ESFormat_ItemOrder/OriginPartToKeep_addlBilling_paymentMethod.java -text
src/z3950/ESFormat_ItemOrder/OriginPartToKeep_contact.java -text
src/z3950/ESFormat_ItemOrder/TargetPart.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/OriginPartNotToKeep.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/OriginPartNotToKeep_querySpec.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/OriginPartToKeep.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/OriginPartToKeep_exportParameters.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/Period.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/PeriodicQuerySchedule.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/PeriodicQuerySchedule_esRequest.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/PeriodicQuerySchedule_taskPackage.java -text
src/z3950/ESFormat_PeriodicQuerySchedule/TargetPart.java -text
src/z3950/ESFormat_PersistQuery/OriginPartNotToKeep.java -text
src/z3950/ESFormat_PersistQuery/OriginPartToKeep.java -text
src/z3950/ESFormat_PersistQuery/PersistentQuery.java -text
src/z3950/ESFormat_PersistQuery/PersistentQuery_esRequest.java -text
src/z3950/ESFormat_PersistQuery/PersistentQuery_taskPackage.java -text
src/z3950/ESFormat_PersistQuery/TargetPart.java -text
src/z3950/ESFormat_PersistResultSet/OriginPartNotToKeep.java -text
src/z3950/ESFormat_PersistResultSet/PersistentResultSet.java -text
src/z3950/ESFormat_PersistResultSet/PersistentResultSet_esRequest.java -text
src/z3950/ESFormat_PersistResultSet/PersistentResultSet_taskPackage.java -text
src/z3950/ESFormat_PersistResultSet/TargetPart.java -text
src/z3950/ESFormat_Update/CorrelationInfo.java -text
src/z3950/ESFormat_Update/OriginPartNotToKeep.java -text
src/z3950/ESFormat_Update/OriginPartToKeep.java -text
src/z3950/ESFormat_Update/SuppliedRecords.java -text
src/z3950/ESFormat_Update/SuppliedRecords1.java -text
src/z3950/ESFormat_Update/SuppliedRecords_recordId.java -text
src/z3950/ESFormat_Update/SuppliedRecords_supplementalId.java -text
src/z3950/ESFormat_Update/TargetPart.java -text
src/z3950/ESFormat_Update/TaskPackageRecordStructure.java -text
src/z3950/ESFormat_Update/TaskPackageRecordStructure_recordOrSurDiag.java -text
src/z3950/ESFormat_Update/Update.java -text
src/z3950/ESFormat_Update/Update_esRequest.java -text
src/z3950/ESFormat_Update/Update_taskPackage.java -text
src/z3950/ElementSpec/ElementRequest.java -text
src/z3950/ElementSpec/ElementRequest_compositeElement.java -text
src/z3950/ElementSpec/ElementRequest_compositeElement_elementList.java -text
src/z3950/ElementSpec/Espec_1.java -text
src/z3950/ElementSpec/Occurrences.java -text
src/z3950/ElementSpec/Occurrences_values.java -text
src/z3950/ElementSpec/SimpleElement.java -text
src/z3950/ElementSpec/TagPath.java -text
src/z3950/ElementSpec/TagPath1.java -text
src/z3950/ElementSpec/TagPath_specificTag.java -text
src/z3950/RS_ESTaskPackage/TaskPackage.java -text
src/z3950/RS_Explain/AccessInfo.java -text
src/z3950/RS_Explain/AccessRestrictions.java -text
src/z3950/RS_Explain/AccessRestrictions1.java -text
src/z3950/RS_Explain/AttributeCombination.java -text
src/z3950/RS_Explain/AttributeCombinations.java -text
src/z3950/RS_Explain/AttributeDescription.java -text
src/z3950/RS_Explain/AttributeDetails.java -text
src/z3950/RS_Explain/AttributeOccurrence.java -text
src/z3950/RS_Explain/AttributeOccurrence_attributeValues.java -text
src/z3950/RS_Explain/AttributeSetDetails.java -text
src/z3950/RS_Explain/AttributeSetInfo.java -text
src/z3950/RS_Explain/AttributeType.java -text
src/z3950/RS_Explain/AttributeTypeDetails.java -text
src/z3950/RS_Explain/AttributeValue.java -text
src/z3950/RS_Explain/CategoryInfo.java -text
src/z3950/RS_Explain/CategoryList.java -text
src/z3950/RS_Explain/Charge.java -text
src/z3950/RS_Explain/CommonInfo.java -text
src/z3950/RS_Explain/ContactInfo.java -text
src/z3950/RS_Explain/Costs.java -text
src/z3950/RS_Explain/Costs_otherCharges.java -text
src/z3950/RS_Explain/DatabaseInfo.java -text
src/z3950/RS_Explain/DatabaseInfo_recordCount.java -text
src/z3950/RS_Explain/DatabaseList.java -text
src/z3950/RS_Explain/ElementDataType.java -text
src/z3950/RS_Explain/ElementInfo.java -text
src/z3950/RS_Explain/ElementSetDetails.java -text
src/z3950/RS_Explain/Explain_Record.java -text
src/z3950/RS_Explain/ExtendedServicesInfo.java -text
src/z3950/RS_Explain/HumanString.java -text
src/z3950/RS_Explain/HumanString1.java -text
src/z3950/RS_Explain/IconObject.java -text
src/z3950/RS_Explain/IconObject1.java -text
src/z3950/RS_Explain/IconObject_bodyType.java -text
src/z3950/RS_Explain/Iso8777Capabilities.java -text
src/z3950/RS_Explain/LanguageCode.java -text
src/z3950/RS_Explain/NetworkAddress.java -text
src/z3950/RS_Explain/NetworkAddress_internetAddress.java -text
src/z3950/RS_Explain/NetworkAddress_osiPresentationAddress.java -text
src/z3950/RS_Explain/NetworkAddress_other.java -text
src/z3950/RS_Explain/OmittedAttributeInterpretation.java -text
src/z3950/RS_Explain/Path.java -text
src/z3950/RS_Explain/Path1.java -text
src/z3950/RS_Explain/PerElementDetails.java -text
src/z3950/RS_Explain/PrimitiveDataType.java -text
src/z3950/RS_Explain/PrivateCapabilities.java -text
src/z3950/RS_Explain/PrivateCapabilities_operators.java -text
src/z3950/RS_Explain/ProcessingInformation.java -text
src/z3950/RS_Explain/ProximitySupport.java -text
src/z3950/RS_Explain/ProximitySupport_private.java -text
src/z3950/RS_Explain/ProximitySupport_unitsSupported.java -text
src/z3950/RS_Explain/QueryTypeDetails.java -text
src/z3950/RS_Explain/RecordSyntaxInfo.java -text
src/z3950/RS_Explain/RecordTag.java -text
src/z3950/RS_Explain/RetrievalRecordDetails.java -text
src/z3950/RS_Explain/RpnCapabilities.java -text
src/z3950/RS_Explain/SchemaInfo.java -text
src/z3950/RS_Explain/SchemaInfo_tagTypeMapping.java -text
src/z3950/RS_Explain/SearchKey.java -text
src/z3950/RS_Explain/SortDetails.java -text
src/z3950/RS_Explain/SortKeyDetails.java -text
src/z3950/RS_Explain/SortKeyDetails_sortType.java -text
src/z3950/RS_Explain/TagSetInfo.java -text
src/z3950/RS_Explain/TagSetInfo_elements.java -text
src/z3950/RS_Explain/TargetInfo.java -text
src/z3950/RS_Explain/TermListDetails.java -text
src/z3950/RS_Explain/TermListDetails_scanInfo.java -text
src/z3950/RS_Explain/TermListInfo.java -text
src/z3950/RS_Explain/TermListInfo_termLists.java -text
src/z3950/RS_Explain/UnitInfo.java -text
src/z3950/RS_Explain/UnitType.java -text
src/z3950/RS_Explain/Units.java -text
src/z3950/RS_Explain/ValueDescription.java -text
src/z3950/RS_Explain/ValueRange.java -text
src/z3950/RS_Explain/ValueSet.java -text
src/z3950/RS_Explain/VariantClass.java -text
src/z3950/RS_Explain/VariantSetInfo.java -text
src/z3950/RS_Explain/VariantType.java -text
src/z3950/RS_Explain/VariantValue.java -text
src/z3950/RS_SUTRS/SutrsRecord.java -text
src/z3950/RS_generic/ElementData.java -text
src/z3950/RS_generic/ElementMetaData.java -text
src/z3950/RS_generic/GenericRecord.java -text
src/z3950/RS_generic/HitVector.java -text
src/z3950/RS_generic/Order.java -text
src/z3950/RS_generic/TagPath.java -text
src/z3950/RS_generic/TagPath1.java -text
src/z3950/RS_generic/TaggedElement.java -text
src/z3950/RS_generic/Usage.java -text
src/z3950/RS_generic/Variant.java -text
src/z3950/RS_generic/Variant_triples.java -text
src/z3950/RS_generic/Variant_value.java -text
src/z3950/RS_opac/CircRecord.java -text
src/z3950/RS_opac/HoldingsAndCircData.java -text
src/z3950/RS_opac/HoldingsRecord.java -text
src/z3950/RS_opac/OPACRecord.java -text
src/z3950/RS_opac/Volume.java -text
src/z3950/RS_summary/BriefBib.java -text
src/z3950/RS_summary/FormatSpec.java -text
src/z3950/ResourceReport_FR1/Estimate.java -text
src/z3950/ResourceReport_FR1/EstimateType.java -text
src/z3950/ResourceReport_FR1/ResourceReport.java -text
src/z3950/ResourceReport_FR2/Estimate.java -text
src/z3950/ResourceReport_FR2/ResourceReport.java -text
src/z3950/UserInfoFormat_searchResult/QueryExpression.java -text
src/z3950/UserInfoFormat_searchResult/QueryExpression_term.java -text
src/z3950/UserInfoFormat_searchResult/ResultsByDB.java -text
src/z3950/UserInfoFormat_searchResult/ResultsByDB1.java -text
src/z3950/UserInfoFormat_searchResult/ResultsByDB_databases.java -text
src/z3950/UserInfoFormat_searchResult/SearchInfoReport.java -text
src/z3950/UserInfoFormat_searchResult/SearchInfoReport1.java -text
src/z3950/Z3950v2.asn1 -text
src/z3950/Z3950v3.asn1 -text
src/z3950/cip2.4specific.asn1 -text
src/z3950/cip_specific.asn1 -text
src/z3950/v2/AccessControlRequest.java -text
src/z3950/v2/AccessControlRequest_securityChallenge.java -text
src/z3950/v2/AccessControlResponse.java -text
src/z3950/v2/AccessControlResponse_securityChallengeResponse.java -text
src/z3950/v2/AttributeElement.java -text
src/z3950/v2/AttributeList.java -text
src/z3950/v2/AttributeType.java -text
src/z3950/v2/AttributeValue.java -text
src/z3950/v2/AttributesPlusTerm.java -text
src/z3950/v2/DatabaseName.java -text
src/z3950/v2/DatabaseRecord.java -text
src/z3950/v2/DeleteResultSetRequest.java -text
src/z3950/v2/DeleteResultSetResponse.java -text
src/z3950/v2/DeleteSetStatus.java -text
src/z3950/v2/DiagRec.java -text
src/z3950/v2/ElementSetName.java -text
src/z3950/v2/ElementSetNames.java -text
src/z3950/v2/ElementSetNames_databaseSpecific.java -text
src/z3950/v2/ImplementationId.java -text
src/z3950/v2/ImplementationName.java -text
src/z3950/v2/ImplementationVersion.java -text
src/z3950/v2/InitializeRequest.java -text
src/z3950/v2/InitializeResponse.java -text
src/z3950/v2/ListStatuses.java -text
src/z3950/v2/ListStatuses1.java -text
src/z3950/v2/MaximumRecordSize.java -text
src/z3950/v2/NamePlusRecord.java -text
src/z3950/v2/NamePlusRecord1.java -text
src/z3950/v2/NextResultSetPosition.java -text
src/z3950/v2/NumberOfRecordsReturned.java -text
src/z3950/v2/Operand.java -text
src/z3950/v2/Operator.java -text
src/z3950/v2/Options.java -text
src/z3950/v2/PDU.java -text
src/z3950/v2/PreferredMessageSize.java -text
src/z3950/v2/PreferredRecordSyntax.java -text
src/z3950/v2/PresentRequest.java -text
src/z3950/v2/PresentResponse.java -text
src/z3950/v2/PresentStatus.java -text
src/z3950/v2/ProtocolVersion.java -text
src/z3950/v2/Query.java -text
src/z3950/v2/RPNQuery.java -text
src/z3950/v2/RPNStructure.java -text
src/z3950/v2/RPNStructure1.java -text
src/z3950/v2/Records.java -text
src/z3950/v2/ReferenceId.java -text
src/z3950/v2/ResourceControlRequest.java -text
src/z3950/v2/ResourceControlResponse.java -text
src/z3950/v2/ResourceReport.java -text
src/z3950/v2/ResourceReportId.java -text
src/z3950/v2/ResourceReportRequest.java -text
src/z3950/v2/ResourceReportResponse.java -text
src/z3950/v2/ResultSetId.java -text
src/z3950/v2/SearchRequest.java -text
src/z3950/v2/SearchResponse.java -text
src/z3950/v2/Term.java -text
src/z3950/v2/TriggerResourceControlRequest.java -text
src/z3950/v2/UserInformationField.java -text
src/z3950/v3/AccessControlRequest.java -text
src/z3950/v3/AccessControlRequest_securityChallenge.java -text
src/z3950/v3/AccessControlResponse.java -text
src/z3950/v3/AccessControlResponse_securityChallengeResponse.java -text
src/z3950/v3/AttributeElement.java -text
src/z3950/v3/AttributeElement_attributeValue.java -text
src/z3950/v3/AttributeElement_attributeValue_complex.java -text
src/z3950/v3/AttributeList.java -text
src/z3950/v3/AttributeSetId.java -text
src/z3950/v3/AttributesPlusTerm.java -text
src/z3950/v3/Close.java -text
src/z3950/v3/CloseReason.java -text
src/z3950/v3/CompSpec.java -text
src/z3950/v3/CompSpec_dbSpecific.java -text
src/z3950/v3/DatabaseName.java -text
src/z3950/v3/DefaultDiagFormat.java -text
src/z3950/v3/DefaultDiagFormat_addinfo.java -text
src/z3950/v3/DeleteResultSetRequest.java -text
src/z3950/v3/DeleteResultSetResponse.java -text
src/z3950/v3/DeleteSetStatus.java -text
src/z3950/v3/DiagRec.java -text
src/z3950/v3/ElementSetName.java -text
src/z3950/v3/ElementSetNames.java -text
src/z3950/v3/ElementSetNames_databaseSpecific.java -text
src/z3950/v3/Entry.java -text
src/z3950/v3/ExtendedServicesRequest.java -text
src/z3950/v3/ExtendedServicesResponse.java -text
src/z3950/v3/FragmentSyntax.java -text
src/z3950/v3/IdAuthentication.java -text
src/z3950/v3/IdAuthentication_idPass.java -text
src/z3950/v3/InfoCategory.java -text
src/z3950/v3/InitializeRequest.java -text
src/z3950/v3/InitializeResponse.java -text
src/z3950/v3/IntUnit.java -text
src/z3950/v3/InternationalString.java -text
src/z3950/v3/KnownProximityUnit.java -text
src/z3950/v3/ListEntries.java -text
src/z3950/v3/ListStatuses.java -text
src/z3950/v3/ListStatuses1.java -text
src/z3950/v3/NamePlusRecord.java -text
src/z3950/v3/NamePlusRecord_record.java -text
src/z3950/v3/OccurrenceByAttributes.java -text
src/z3950/v3/OccurrenceByAttributes1.java -text
src/z3950/v3/OccurrenceByAttributes_occurrences.java -text
src/z3950/v3/OccurrenceByAttributes_occurrences_byDatabase.java -text
src/z3950/v3/Operand.java -text
src/z3950/v3/Operator.java -text
src/z3950/v3/Options.java -text
src/z3950/v3/OtherInformation.java -text
src/z3950/v3/OtherInformation1.java -text
src/z3950/v3/OtherInformation_information.java -text
src/z3950/v3/PDU.java -text
src/z3950/v3/Permissions.java -text
src/z3950/v3/Permissions1.java -text
src/z3950/v3/PresentRequest.java -text
src/z3950/v3/PresentRequest_recordComposition.java -text
src/z3950/v3/PresentResponse.java -text
src/z3950/v3/PresentStatus.java -text
src/z3950/v3/ProtocolVersion.java -text
src/z3950/v3/ProximityOperator.java -text
src/z3950/v3/ProximityOperator_proximityUnitCode.java -text
src/z3950/v3/Query.java -text
src/z3950/v3/RPNQuery.java -text
src/z3950/v3/RPNStructure.java -text
src/z3950/v3/RPNStructure_rpnRpnOp.java -text
src/z3950/v3/Range.java -text
src/z3950/v3/Records.java -text
src/z3950/v3/ReferenceId.java -text
src/z3950/v3/ResourceControlRequest.java -text
src/z3950/v3/ResourceControlResponse.java -text
src/z3950/v3/ResourceReport.java -text
src/z3950/v3/ResourceReportId.java -text
src/z3950/v3/ResourceReportRequest.java -text
src/z3950/v3/ResourceReportResponse.java -text
src/z3950/v3/ResultSetId.java -text
src/z3950/v3/ResultSetPlusAttributes.java -text
src/z3950/v3/ScanRequest.java -text
src/z3950/v3/ScanResponse.java -text
src/z3950/v3/SearchRequest.java -text
src/z3950/v3/SearchResponse.java -text
src/z3950/v3/Segment.java -text
src/z3950/v3/SortElement.java -text
src/z3950/v3/SortElement_datbaseSpecific.java -text
src/z3950/v3/SortKey.java -text
src/z3950/v3/SortKeySpec.java -text
src/z3950/v3/SortKeySpec_missingValueAction.java -text
src/z3950/v3/SortKey_sortAttributes.java -text
src/z3950/v3/SortRequest.java -text
src/z3950/v3/SortResponse.java -text
src/z3950/v3/Specification.java -text
src/z3950/v3/Specification_elementSpec.java -text
src/z3950/v3/StringOrNumeric.java -text
src/z3950/v3/Term.java -text
src/z3950/v3/TermInfo.java -text
src/z3950/v3/TriggerResourceControlRequest.java -text
src/z3950/v3/Unit.java -text
